<mat-spinner *ngIf = "isLoading"></mat-spinner>
<div class="main-container" *ngIf = "!isLoading">
  <div class="tint">

  </div>
  <div class="text-content">
    <h1>
      Sell to
    </h1>
    <h1>
      Spartans
    </h1>
  </div>
  <mat-card>
    <form #signUpForm="ngForm" (submit)="onSignUp(signUpForm)" *ngIf = "!isLoading">
      <mat-form-field>
        <input
        matInput
        type="email"
        name = "email"
        ngModel
        #emailInput = "ngModel"
        placeholder="Email"
        required
        email>
        <mat-error *ngIf="emailInput.invalid" >Please Enter Valid Email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password"
        name = "password"
        ngModel
        #passwordInput = "ngModel"
        matInput
        required
        placeholder="Password">
        <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
      </mat-form-field>
      <button mat-raised-button
      *ngIf ="!isLoading"
      id = "action-button"
      color="accent"
      type="submit">
        Sign Up
      </button>
    </form>
  </mat-card>
</div>
