<mat-spinner *ngIf = "isLoading"></mat-spinner>
<mat-card *ngIf = "!isLoading">
  <form [formGroup]="form" *ngIf = "!isLoading" (submit) = "onSavePost()">
    <mat-form-field>
      <input
      matInput
      type="text"
      name = "contact"
      formControlName = "contact"
      placeholder="Contact Info">
      <mat-error *ngIf="form.get('contact')?.invalid">Please Enter Contact Info</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="text"
      name = "title"
      formControlName = "title"
      placeholder="Title">
      <mat-error *ngIf="form.get('title')?.invalid">Please Enter Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows = "6"
      name = "content"
      formControlName = "content"
      placeholder="Content">
      </textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please Enter Content</mat-error>
    </mat-form-field>

    <div class="image-upload">
      <button (click) = "filePicker.click()" mat-stroked-button
      color="primary" type="button">Choose Image</button>
      <input #inputImage accept="image/*"  multiple type="file" #filePicker (change)="onImagePicked($event)">
      <ul *ngIf= "!isLoading" id='photos-preview'>

      </ul>
    </div>
    <button (click) = checkUpload() mat-raised-button
    color="accent"
    type="submit">
      SAVE POST
    </button>
  </form>
  
</mat-card>
